
body {
	font-family: "Microsoft YaHei";
	font-size:16pt;
	touch-action: pan-y;
	
}

.title_bar{position:relative;
font-size:12px;
padding:0 5px;
height:23px;
line-height:23px;
color:#7e7e7e}

.from {
	font-size:10pt;
	padding-top:4pt;
}
#introduce 
{
	border: 1px solid #E5E5E5;
	border-left:0px;
	border-right:0px;
	background: #fbfbfb;
 
}



#introduce img {
	
	padding:1px;
}

#introduce p {
	line-height:150%;
	margin:0;
}

#introduce div {
	margin:0 !important;
}

#topic {
	float:right;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:10px;
	margin-right:-20px;
}
#content {
	padding-top:10pt;
}

#content p {
	text-indent:2em;
	line-height:150%;
}

ol,ul,li {
	list-style:none;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

#content table,#content td {
	border:1px solid #000;
	border-collapse:collapse;
	border-spacing:0;
}

#content table p {
	text-indent:0;
}

#content iframe {
	display:block;
	max-width:100%;
	border:0;
	margin:auto;
}

#content embed {
	display:block;
	max-width:100%;
}

#content video {
	display:block;
	max-width:100%;
	height:auto;
	margin:auto;
}

#content img {
	max-width:100%;
	display:block;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#2f7cad;
}

.clear {
	clear:both;
}

.foot {
	text-align:center;
	padding-top:10pt;
	padding-bottom:20pt;
}