html {
	overflow: hidden;
}

body {
	font-family: "Microsoft YaHei";
	font-size:14pt;
	touch-action: pan-y;
	overflow: hidden;
}


.from {
	font-size:10pt;
	padding-top:4pt;
}
#introduce {
    border-color: #e5e5e5;
    border-width: 1px;
   
}

#introduce:before {
	color:#CCC;
	content:open-quote;
	font-size:1.5em;
	line-height:.2em;
	margin-right:.2em;
	float:left;
	margin-top:.17em;
}

#introduce img {
	
	visibility:hidden;
	padding:0;
}

#introduce p {
	line-height:120%;
	margin:0;
}

#introduce div {
	margin:0 !important;
}

#content {
	padding-top:10pt;
}

#content p {
	text-indent:2em;
	line-height:120%;
}

ol,ul,li {
	list-style:none;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

#content table,#content td {
	border:1px solid #000;
	border-collapse:collapse;
	border-spacing:0;
}

#content table p {
	text-indent:0;
}

#content iframe {
	display:block;
	max-width:100%;
	border:0;
	margin:auto;
}

#content embed {
	display:block;
	max-width:100%;
}

#content video {
	display:block;
	max-width:100%;
	height:auto;
	margin:auto;
}

#content img {
	max-width:100%;
	display:block;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#2f7cad;
}

.clear {
	clear:both;
}

.foot {
	text-align:center;
	padding-top:10pt;
	padding-bottom:20pt;
}